@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans&family=Poppins&display=swap');
.numbersection{
    height:auto;
    padding-bottom: 6rem;
    background-image: url('https://themewagon.github.io/coffee1/images/bg_2.jpg') ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-blend-mode: darken;
    filter: brightness(80%);
}

#numbericons{

    object-position: center;
    object-fit: cover;
    font-size: 34px;
    text-align: center;
    color: #c49b63;
    
}
#numberspan{
    height: 5rem;
    width: 5rem;
    margin: auto;
    border: 1.2px solid rgb(195, 155, 99);
    display: flex;
    align-items: center;
    justify-content: center;
}
#numberspan:hover{
    rotate: 135deg;
    transition: 0.6s;
  cursor: pointer;
  background-color: rgb(195, 155, 99);
}
#numberspan:hover #numbericons{
    rotate: -135deg;
  cursor: pointer;
  font-weight: 200;
  color: white;
}
.cards2{
    filter: brightness(130%);
    padding-top: 10rem;
    flex-wrap: wrap;
    gap: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card2{
    text-align: center;
}
.card2 h3{
    padding-top: 0.5rem;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    line-height: 54px;
    color: rgb(195, 155, 99);
}
.card2 p{
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height:2px;
    color: rgb(191, 191, 191);
}
