@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans&family=Poppins&display=swap');

#advantagesicon{

    font-size: 60px;
    text-align: center;
    
}
#iconspan{
    height: 6rem;
    width: 6rem;
    margin: auto;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#advantages .card1{
border: none;
    flex-wrap: wrap;
    background-color: transparent;
}

.cards{width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#advantagesection{
    
padding-top: 8rem;
    background-color: #c49b63;;
    padding-bottom: 6rem;
}
#advantages h3{
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
}
#advantages p{
   margin-top: -1rem;
   width: 100%;
   margin: auto;    color: rgb(29, 21, 11);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: 0;
    text-align: center;
}
@media only screen and (max-width: 1050px) {
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 650px) {
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }
}