            
#Profilesection{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(196,155,99,1) 0%);
    height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#textback{
    display: flex;
}
#profile{
    width: 100%;   display: flex !important;
    height: auto;
    padding: 1.5rem;
    margin-top: 3rem;
    margin: auto;
}

#bg-brown1{
margin: 1.4rem;

}
#bg-brown2{padding: .8rem;
    border-radius: 15px;
    }
#ordertable{
    margin-top: 2rem;
    background-color: white;
    color: black;
}
#divorder h3{
    padding-top: 2rem;
color: white;
font-family: 'Josefin Sans', sans-serif;
text-align: center;
font-weight:700 ;
line-height: 40px;
font-size:47px ;
letter-spacing: 0px;
}
#reservContainer{
    padding-top: 2rem;
    padding-bottom: 3rem;
    max-height: 40rem;
    overflow-x: auto;
    background: rgb(238,174,202);
    border: none;
    outline: none;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(196,155,99,1) 0%);
}
#reservTable{
    border: none;
    margin: auto;
    width: 90%;
    background-color: white;

}
@media only screen and (max-width: 1380px) {


    #bg-brown1{
        text-align: center;
        margin: auto;
        align-items: center;
    }
    #userimg{
        padding-right: 1rem;
    }
    #bg-brown2 p{
        padding-left:1rem;
    }
}
@media only screen and (max-width: 900px) {

    #textb{
        display: block;text-align: center;
    }
    #bg-brown2{
        width: 100% !important;
        padding-right: .4rem !important;
        text-align: center;
        margin: auto;
        padding: .4rem;
        align-items: center;
    }
}

@media only screen and (max-width: 500px) {
  #profile{
        width: 100%;
}
    #bg-brown2{
        /* width: 103% !important;
        padding-right: 1rem !important;
        text-align: center !important;
        margin: auto;
        padding: .7rem;
        align-items: center; */
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: auto !important;
        padding-right: .6rem;
        position: sticky;
    }
    #textback{
        display: block;
    }
    #bg-brown1{
        text-align: center;
        margin: auto;
        align-items: center;
    }
    #userimg{
        width: 100% !important;
        margin: auto;
        padding-left: 1rem;
    }
    #bg-brown2 p{
        padding-left: 2rem;
    }
}

    
    