@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans&family=Poppins&display=swap');

#headname{
    margin: auto;
    padding-top: 7rem;
    text-align: center;
}
#headname span{
   font-family: 'Great Vibes', cursive;
    font-weight:400 ;
    line-height: 30px;
    font-size:50px ;
    letter-spacing: 0px;
    color:rgb(196, 155, 99) ;
}
#headname h2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight:700 ;
    line-height: 40px;
    font-size:47px ;
    letter-spacing: 0px;
    color:white;
    text-align: center;
    padding-bottom: 1.3rem;
}
#headname p{
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-weight:300 ;
    line-height: 27px;
    font-size:15px ;
    width: 39vw;
    letter-spacing: 0px;
    color:rgb(128, 128, 128);

}
#productsection2{
    background-image: url('https://themewagon.github.io/coffee1/images/bg_4.jpg');
    background-attachment: fixed;
    height: auto;
    padding-bottom: 2rem;
}
.buttons{
    padding-top: 4rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.cards8{
    width: 85%;
    margin: auto;
}
.card8 button{
    text-align: center;
}
.buttons button{
    border: 2px solid rgb(196, 155, 99);
    text-align: center;
    margin: .8rem;
    font-size:18px ;
border-top: none;
border-left: none;
border-right: none;
border-radius: 0;

    font-weight:400 ;
    line-height: 32px;
    letter-spacing: 0;
    color:rgb(196, 155, 99) ;

    height: 3rem;
    background-color: transparent;
    padding: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons #link{
    text-decoration: none;
    color: rgb(196, 155, 99);    font-family: 'Poppins', sans-serif;
}
.buttons button:hover{
    background-color: rgb(196, 155, 99);
    transition: .5s;
}
.buttons button:hover #link{
    transition: .5s;
    color: black;
}
@media only screen and (max-width: 1000px) {

    #productsection2{
        
        height: auto;
    }

}
@media only screen and (max-width: 700px) {

    .buttons{
        display: block;
        padding: 0;
        text-align: center;
        margin-top: 3rem;

        
    }
    .buttons button{
        
        width: 100%;
        padding: 0;margin: 0;
        text-align: center;
    }

}
